@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~react-table/react-table.css';
@import './variables.scss';

@include react-md-everything;

html, body {
    font-family: 'Roboto', sans-serif;
}