@import '../variables';

.container {
    .top-bar {
        background-color: $md-primary-color;
        position: fixed;
        width: 100%;
        z-index: 1;
        border-bottom: solid 1px rgba(0,0,0,0.4);
        box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
        line-height: 60px;
        top: 0;
        left: 0;
        right: 0;
        .md-title {
            color: white;
        }
    }
    .bottom-bar {
        background-color: rgb(231, 231, 231);
        position: fixed;
        height: 40px;
        width: 100%;
        z-index: 1;
        border-bottom: solid 1px rgba(0,0,0,0.4);
        box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
        line-height: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        .md-grid {
            padding-top: 4px;
        }

        .hint-text {
            color: red;
        }
    }
    .dashboard {
        padding-top: 80px;
        .table-block {
            .add-btn {
                border: 1px solid $md-primary-color;
            }
            .ReactTable {
                margin-top: 30px;
                border-radius: 4px;
            }
        }
        .video-player-block {
            .video-title {
                margin-top: 4px;
                text-align: center;
            }
            .video-player {
                margin-top: 30px;
                background: lightgray;
                border-radius: 4px;
            }
        }
    }
}